.TypeAhead {
    display: flex;
    flex-direction: column;
    width: 330px;
    font-size: 14px;
  }
  
  .TypeAhead label {
    margin-bottom: 5px;
    display: none;
  }
  
  .TypeAhead__options {
    list-style: none;
    box-shadow: -2px 3px 8px 2px #3333333b;
    margin: 0;
  }
  
  .TypeAhead__input,
  .TypeAhead__options {
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: var(--bg-01);
    outline: none;
    margin-bottom: 8px;
    color: var(--black-01);
    font-size: 14px;
    padding: 0;
  }
  
  .TypeAhead__input {
    padding: 11px 20px;
    display: flex;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    width: 100%;
  }
  
  .TypeAhead__option {
    padding: 6px 8px;
    color: var(--black-01);
    font-size: 14px;
    cursor: pointer;
  }
  
  .TypeAhead__option--selected {
    background: #2f81cd;
    color: #f9f9f9;
    outline: 0;
  }