:root {
  --spacing-01: 8px;
  --spacing-02: 16px;
  --spacing-03: 24px;
  --black-01: #2C2C2C;
  --black02: #9A9A9A;
  --black03: #C4C4C4;
  --bg-01: #FDFCFC;
  --bg-02: #d7e9fc61;
}
body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

